@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #369AC5, #1B1E23);
    background-repeat: no-repeat; /* Evita repetição do fundo */
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
    min-height: 100vh;
    width: 100%;
    color: white; /* Define a cor do texto padrão */
}

p{
    margin: 1rem 0;
}

nav > ul{
    display: flex;
    list-style: none;
    padding: 1rem;
    gap: 0.5rem;
}

nav > ul > li{
    font-size: 1.2rem;
}

nav > ul li:last-child {
    margin-left: auto; /* Empurra o último item para o lado oposto */
}

#titulocentral{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 00px;
    font-size: 3rem;
}

.titulosecao{
    color: white;
    text-align: center;
    margin: 50px;
    font-size: 5vh;
}

.containercards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
    perspective: 1000px;
}

/******************************    CARDS    ****************************************************/
.card {
    min-width: 110px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card.esquerdo {
    transform: rotateY(25deg);
}

.card.centro {
    transform: rotateY(0deg);
}

.card.direito {
        transform: rotateY(-25deg);
}

/************************************************************************************************/

/******************************   SOBRE MIM   ***************************************************/

.containersobre{ /* Foto e parágrafo*/
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento uniforme entre os itens */
}

.photo{
    background-color: rgb(228, 228, 228);
    border-radius: 40px;
    width: 300px;
    height: 200px;
  
}

.sobremimp{
    justify-content: center;
    width: 20rem;
    font-size: 1rem;
}

/************************************************************************************************/

/******************************   CARDS SOBRE   *************************************************/

.container3{ /* Quadrados embaixo da foto*/
    display: flex;
    justify-content: center;
    gap: 9vw;
    margin-top: 150px;
}

.quadrad{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

/************************************************************************************************/

/******************************** EXPERIÊNCIAS  ************************************************/

.testeA{
   padding: 1px;
   background-color: rgb(1, 113, 141);

}
.containerexperiencias{ /* experiências */
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
}
.circulofoto{ /*imagems dos empregos*/
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10vw;
}

.txtexp{
    width: 20rem;
    margin: 2rem 0px 5rem 6rem;
}

/************************************************************************************************/
/******************************** TECNOLOGIAS  ************************************************/

.containertecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tecnologia-item {
    display: flex;
    align-items: center;
    gap: 10px;
}   

 .imagemtecnologia{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
 }

 /************************************************************************************************/

 footer{
    background-color: black;
    padding: 20px;
 }